<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Your Life Rocks</title>
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
		<div id="hd">
			<div id="logo">
				<img src="your-life.png" width="50px" height="50px" alt="Your Life Logo" />
				<h1>Your Life Rocks</h1>
			</div>
		</div>
		<div id="bd">
			<p>
				Please mention the correct Wicket version: <wicket:container wicket:id="version">1.5-SNAPSHOT</wicket:container>.
				HELLO: <wicket:container wicket:id="hello">WORLD</wicket:container>.
			</p>
		</div>
		<div id="ft">
		</div>
	</body>
</html>
